@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Custom spacing */
  --spacing-5px: 5px;

  /* Custom breakpoints */
  --breakpoint-xs: 375px;

  /* Custom colors */
  --color-orange: #feba71;
  --color-yellow: #ffdc7e;
  --color-pink: #ffc7b0;

  /* Custom fonts */
  --font-roboto: 'Roboto', sans-serif;
}
